.env
*__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.vscode/
.vscode/
$TMPDIR/

*storage/
*tests/
*test.ipynb

.env
__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
$TMPDIR/

storage/
tests/
test.ipynb





.env
__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
$TMPDIR/

storage/
tests/
test.ipynb

# local tool / cache folders
.anaconda/
.aws/
.bun/
.burpsuite/
.antigravity/